.wrapper{
    max-width: 1200px;
    margin: 3rem auto;
}

.title {
    font-weight: 600;
    color: #000bac;
}
.price {
    font-weight: 700;
}
.flexList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 10px;
    padding: 0;
}

.flexItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 24%;
    height: 350px;
    padding: 10px;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
}

.flexItem:hover {
    transform: scale(1.06);
    background-color: #17cf97;
    cursor: pointer;
    color: #fff;
}

.flexItem span {
    margin-block: 10px;
}

.flexItem .imageContainer {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sort {
    border:  none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 10px 15px;
}

@media screen and (max-width: 1024px){
        .flexItem {
            flex-basis: 32%;
        }
}

@media screen and (max-width: 900px){
    .flexItem {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 768px){
    .flexItem {
        flex-basis: 80%;
    }
}

@media screen and (max-width: 600px){
/* burger menu  */
}